<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/app.css">
  <script type="text/javascript" src="/commons.min.js"></script>
  <script type="text/javascript" src="/bachmanity.min.js"></script>
  <script type="text/javascript" src="/app.js"></script>
  <title>Bachmanity Axe Core Test Suite</title>
</head>

<body>
  <div class="container-fluid js-container">
    <span class="js-form-loader form-loader"></span>
    <a style="
        font-size: 65px;
        margin-top: -10px;
        appearance: unset;
        -moz-appearance: unset;
        -webkit-appearance: unset;" type="button" class="close" aria-label="Close" href="/exit">
      <span aria-hidden="true">&times;</span>
    </a>
    <h1>Axe Core Accessibility Testing</h1>
    <form class="axe-form js-axe-form" method="post" action="/">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <label for="url" class="col-form-label">URL</label>
            <input required type="text" name="url" class="form-control js-form-url form-url" id="url" placeholder="Enter URL here" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
      <p>
        Please use the form above to enter a URL to run the
        <code>axe-core</code> accessibility suite. The suite will use the config file inside
        <code>/axe/core/axe.config.js</code> to test against specific accessibility standards. You can use this file to set these
        standards and turn off/on any specific accesibility rules in the test suite.
      </p>
    </form>
    {{{body}}}
  </div>
</body>

</html>
