{{!-- Component: form-components--select --}}
<label for="{{input.id}}" class="col-form-label {{boolean label.inline "sr-only"}}">{{label.text}}</label>
<select  
  {{boolean input.required "required"}}
  {{boolean input.disabled "disabled"}}
  {{boolean input.multiple "multiple"}}
  class="form-control" 
  id="{{input.id}}">
  {{#if input.placeholder}}
    <option value="" disabled selected>{{input.placeholder}}</option>
  {{/if}}
  {{#each input.options}}
    <option value="{{.}}">{{.}}</option>
  {{/each}}
</select>
