{{!-- Component: form-components --}}
<label for="{{input.id}}" class="col-form-label {{boolean label.inline "sr-only"}}">{{label.text}}</label>
{{#if input.prefix}}
  <div class="input-group-prepend">
    <div class="input-group-text">{{{input.prefix}}}</div>
  </div>
{{/if}}
<input 
  {{boolean input.required "required"}}
  {{boolean input.disabled "disabled"}}
  type="{{input.type}}" 
  class="form-control" 
  id="{{input.id}}" 
  placeholder="{{input.placeholder}}">