{{!-- Component: form-components--text-area --}}
<label for="{{input.id}}" class="col-form-label {{boolean label.inline "sr-only"}}">{{label.text}}</label>
<textarea 
  {{boolean input.required "required"}}
  {{boolean input.disabled "disabled"}}
  class="form-control" 
  id="{{input.id}}" 
  placeholder="{{input.placeholder}}" 
  rows="{{input.rows}}">
</textarea>
