{{!-- Component: form-components--checkbox --}}
<div class="form-check {{boolean input.inline "form-check-inline"}}">
  <input 
    {{boolean input.required "required"}}
    {{boolean input.disabled "disabled"}}
    class="form-check-input" 
    name="exampleCheckbox" 
    type="checkbox" 
    value="" 
    id="{{input.id}}"> 
  <label for="{{input.id}}" class="form-check-label">{{label.text}}</label>
</div>