{{!-- Component: form-layout--inline --}}
<form class="form-inline">
  <div class="input-group mb-2 mr-sm-2">
    {{render '@form-components' name merge=true}}
  </div>
  <div class="input-group mb-2 mr-sm-2">
    {{render '@form-components' username merge=true}}
  </div>
  <div class="form-check mb-2 mr-sm-2">
    {{render '@form-components--checkbox' check merge=true}}
  </div>
  {{render '@button' submit}}
</form>