{{!-- Component: form-layout --}}
<form>
  <div class="form-group">
    {{render '@form-components' firstName merge=true}}
  </div>
  <div class="form-group">
    {{render '@form-components' lastName merge=true}}
  </div>
  {{render '@button' submit}}
</form>