{{!-- Component: form-components--grid --}}
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{render '@form-components' email merge=true}}
    </div>
    <div class="form-group col-md-6">
      {{render '@form-components' password merge=true}}
    </div>
  </div>
  <div class="form-group">
    {{render '@form-components' address merge=true}}
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{render '@form-components' city merge=true}}
    </div>
    <div class="form-group col-md-4">
      {{render '@form-components--select' state merge=true}}
    </div>
    <div class="form-group col-md-2">
      {{render '@form-components' zip merge=true}}
    </div>
  </div>
  <div class="form-group">
    {{render '@form-components--checkbox' check}}
  </div>
  {{render '@button' submit}}
</form>