.axe-core-results {
  margin: 0 20px;
}

.table-responsive {
  margin-bottom: 30px;
  border: none;
}

.table-responsive.failures {
  color: #bb0a30;
}

.table-responsive.success {
  color: green;
}

.markup {
  width: 200px;
}

pre {
  white-space: pre-wrap;
  font-size: 65%;
}

table,
th,
tr,
td {
  border: 1px solid #999999;
}

td,
th {
  padding: 10px;
}

thead th {
  color: #000000;
  padding: 10px;
}
