<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="./../../public/commons.min.js"></script>
  <script type="text/javascript" src="./../../public/bachmanity.min.js"></script>
   <link rel="stylesheet" type="text/css" href="./../app.css">
  <title>Accessibility Test for {{url}}</title>
</head>

<body>
  <div class="axe-core-results">
    <h1>Accessibility Test for
      <a href="{{url}}" target="_blank">{{url}}</a>
    </h1>
    <h2>Failed Tests</h2>
    <table class="table-responsive failures">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Help Text</th>
          <th scope="col">Help Link</th>
          <th scope="col">Impact</th>
          <th scope="col">Markup</th>
        </tr>
      </thead>
      <tbody>
        {{#each fails}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.description}}</td>
            <td>
              <p>{{this.nodes.0.any.0.message}}</p>
            </td>
            <td>
              <a href="{{this.helpUrl}}" target="_blank">
                {{this.help}}
              </a>
            </td>
            <td>{{this.impact}}</td>
            <td class="markup"><pre class="pre-scrollable">{{this.nodes.0.html}}</pre></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <h2>Passed Tests</h2>
    <table class="table-responsive success">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Help Text</th>
        </tr>
      </thead>
      <tbody>
        {{#each passes}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.description}}</td>
             <td><a href="{{this.helpUrl}}" target="_blank">{{this.help}}</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</body>

</html>
