<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/app.css">
  <script type="text/javascript" src="/commons.min.js"></script>
  <script type="text/javascript" src="/bachmanity.min.js"></script>
  <script type="text/javascript" src="/app.js"></script>
  <title>Bachmanity Axe Core Test Suite</title>
</head>

<body>
  <div class="container-fluid js-container">
    <span class="js-form-loader loader"></span>
    <a style="
        font-size: 65px;
        margin-top: -10px;
        appearance: unset;
        -moz-appearance: unset;
        -webkit-appearance: unset;" type="button" class="close" aria-label="Close" href="/exit">
      <span aria-hidden="true">&times;</span>
    </a>
    <h1>Backstop Testing Suite</h1>

    {{{body}}}
  </div>
</body>

</html>
