<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="{{ path '/public/commons.min.js' }}"></script>
  <script type="text/javascript" src="{{ path '/public/bachmanity.min.js' }}"></script>
  <title>{{ _target.title }}</title>
</head>

<body ng-app="myApp">
  <div class="container-fluid">
    {{{ yield }}}
  </div>
</body>
</html>
