.container-fluid.loading:before {
  content: "";
  background: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
}

.close {
  z-index: 2;
  position: relative;
}

.loader {
  border: 16px solid #d9d9d9;
  border-top: 16px solid #33414e;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  display: none;
}

.loader.d-block {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
