<form class="axe-form js-axe-form" method="post" action="/">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        {{#each componentsList}}
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input js-component-checkbox" name="{{this}}" id="{{this}}" type="checkbox" value="{{this}}"> {{this}}
            </label>
          </div>
        {{/each}}
      </div>
      <p class="text-danger js-form-error"></p>
      <button type="submit" class="btn btn-primary">Submit</button>
      <span class="btn btn-secondary js-toggle-select-all">Select All</span>
    </div>
  </div>
</form>
