<p>
  The results for your BackstopJs visual auto regression suite have finished and were ran against the following components:
  <ul>
    {{#each components}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</p>
<p>To open the results please
  <a href="/html_report/index.html" target="_blank">click here</a> or to re-run the tests on different components go to the
  <a href="/components">components list</a> page
</p>

{{report}}
