{{!-- Component: blockquote--referenced --}}
<blockquote class="blockquote">
  <p class="mb-0">{{quote.content}}</p>
  <footer class="blockquote-footer"><cite title="{{footer.title}}">{{footer.title}}</cite></footer>
</blockquote>