{{!-- Component: accordion --}}
<div id="accordion">
  {{#each accordionItems}}
    <div class="card">
      <div class="card-header" id="heading{{@index}}">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
            {{title}}
          </button>
        </h5>
      </div>

      <div id="collapse{{@index}}" class="collapse" aria-labelledby="heading{{@index}}" data-parent="#accordion">
        <div class="card-body">
          {{data}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
